<div id="<%= dom_id wednesday13december %>">
  <p>
    <strong>Name:</strong>
    <%= wednesday13december.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= wednesday13december.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= wednesday13december.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= wednesday13december.phone %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= wednesday13december.description %>
  </p>

  <p>
    <strong>Personaldata:</strong>
    <%= wednesday13december.personaldata %>
  </p>

  <p>
    <strong>Showemail:</strong>
    <%= wednesday13december.showemail %>
  </p>

  <p>
    <strong>Trade:</strong>
    <%= wednesday13december.trade %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= wednesday13december.location %>
  </p>

</div>
